@model CadeMeuMedico.Models.Especialidades

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja excluir esta espcialidade?</h3>
<fieldset>
    <legend>Especialidades</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IDEspecialidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDEspecialidade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar para lista", "Index")
    </p>
}
